*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.btn {
    margin: 1rem;
}

.container {
    --square-dimension: 500px;

    display: flex;
    flex-wrap: wrap;
    height: var(--square-dimension);
    width: var(--square-dimension);
    border: 1px solid black;
    padding: 1px;
    margin-inline: 1rem;
}

.cell {
    outline: 1px solid #ffffff;
    background: hsl(239, 71%, 80%)
}